@media only screen and (min-width : 320px) and (max-width : 1024px) {
	body{
		margin-top:45px;
	}
	#site-header {
		position: fixed;
		width: 100%;
		z-index: 9999;
		top:0;
	}	
	.left-sidebar{
		bottom: 0;
		max-width: 0;
		overflow: hidden;
		position: fixed;
		top: 47px;
	}
	#site-header .navbar-form .form-control.search-query{
		border-color: transparent;
		padding: 0 0 0 35px;
		transition: all 1s ease 0s;
		width: 35px;
	}
	#site-header .navbar-form .form-control.search-query:focus {
		border-color:#eee;
		width: 200px;
		padding: 0 0 0 30px;
	}
	#site-header .navbar-form:focus {
		float: none;
	}
	#site-header .navbar-form {
		position: absolute;
		right: 30px;
	}
	
	#site-header .qa-nav-main {
		background: none repeat scroll 0 0 #FFFFFF;
		bottom: 0;
		float: none;
		left: -180px;
		position: fixed;
		top: 45px;
		width: 180px;
		z-index: 999;
		width:0;
	}
	
	#site-header .qa-nav-main .qa-nav-main-list li {
		border-bottom: 1px solid #F7F7F7;
		float: none;
		margin: 0;
	}
	.slide-mobile-menu.icon-list {
		display:block;
	}
}
@media only screen and (min-width : 320px) and (max-width : 979px) {

	.carousel .carousel-inner .row > .col-sm-3{
		width:50%;
	}

	.ra-new-users-widget .users-list {
		height: 75px;
		overflow: hidden;
	}
	#home-right-position> .widget {
		float: left;
		padding: 0 5px;
		width: 50%;
	}
	#home-right-position> .widget.site_activity {
		float: none;
		width: 100%;
		clear: both;
	}
	
	
	.qa-main{
		margin:10px;
	}
	
	.list-c {
		border-bottom: 2px solid #333333;
		margin-bottom: 20px;
		padding-bottom: 20px;

	}
	.side-c{

	}
	.page-users-list .user-card-inner {
		margin: 5px;
	}
	.page-users-list .user-card-inner .avatar {
		height: 100%;
		width: 100%;
	}
	.page-users-list .user-card{
		
	}
	.page-users-list .card-container{
		height:125px;
		width:125px;
	}
	.widget.site_status{
		display:none;
	}
	.list-c, .side-c {
		width: 100%;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px) {
	
	.users-list-head td.activity, .user-list-item td.activity{
		display:none;
	}	
	.users-list-head td.badge-list, .user-list-item td.badge-list{
		display:none;
	}	
	.users-list-head td.user, .user-list-item td.user{
		width:60%;
	}
	.qa-q-view-tag-list{
		display:none;
	}
	.category-nav,.btn-sm{
		display:none;
	}
	.navbar-default > .btn.header-ask-button{
		display:inline-block;
	}
	
	
	#site-header .nav.navbar-avatar {
		margin: 0;
	}
	#site-header .navbar-default ul.user-nav {
		background: none repeat scroll 0 0 #FFFFFF;
		box-shadow: 0 0 5px;
		padding: 0;
		position: absolute;
		top: 47px;
	}
	.user-card-inner {
		margin: 3px;
	}

}
@media only screen and (min-width : 320px) and (max-width : 480px){
	.header-position-c, .ra-question-activity-widget ul li .fav-star, .ra-question-activity-widget ul li .ans-count, .qa-q-list.clean .q-item-head .ans-count, .question-title .fav-parent, .question-tags, #question-meta{
		display:none;
	}
	.navbar-site-logo {
		display: none;
	}
	#site-header .site-logo a {
		background: url("../images/small-logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: block;
		height: 35px;
		margin-right: 10px;
		margin-top: 8px;
		width: 55px;
	}
	.ra-question-activity-widget ul .post-status-c, .qa-q-list.clean .status-c{
		min-width: 0;
		width: auto;
	}
	#site-header .site-logo {
		width: auto;
	}
		
	#site-header .navbar-default ul.user-nav li a {
		padding: 5px;
	}
	.carousel .carousel-inner .row > .col-sm-3 {
		width: 100%;
	}
	#home-right-position> .widget {
		float: none;
		padding: 0;
		width: 100%;
	}
	.qa-q-list.clean .count-time {
		float: left;
		width: auto;
	}
	.qa-q-list.clean .q-item-head .time {
		line-height: 11px;
		min-width: 0;
		text-align: left;
	}
	.qa-q-list.clean .qa-q-list-item .qa-q-item-title {
		display: block;
		float: left;
	}
	.qa-main .qa-nav-sub ul li {
		float: none;
	}
	.qa-main .qa-nav-sub ul li a {
		color: #333333;
		font-size: 12px;
		margin: 0;
		padding: 4px 5px;
	}
	.page-title {
		clear: both;
		font-size: 14px;
		margin-bottom: 10px;
		padding: 2px;
	}
	.qa-q-list.clean .qa-q-list-item .asker-avatar {
		margin: 0 8px 0 4px;
	}
	.list-c {
		border-bottom: 2px solid #333333;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.card-container{
		height:125px;
		width:125px;
	}
	.page-users-list .user-card-inner .avatar {
		height: 100%;
		width: 100%;
	}
	.question-head {
		padding: 10px;
	}
	.question-title {
		font-size: 20px;
		line-height: 25px;
	}
	.question-head .question-meta > * {
		font-size: 10px;
		margin-right: 0;
	}
	.qa-q-view-inner {
		padding: 0;
	}
	.qa-q-view-content, .qa-a-item-content .entry-content {
		font-size: 12px;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.user-header {
		display: block;
		width: 100%;
	}
	.user-cols-right {
		display: block;
	}
	.user-activities .what {
		display: block;
	}
	.qa-part-q-list .ans-count{
		display:none;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
	.qa-main {
		margin: 10px;
	}
}